/* Technologies */

.intro {
    margin: 1.5em 0 0;
    padding: 1em;
}

.intro .tech-list {
    padding: 0;
    margin: 0
}
.intro .tech-list li {
    display: inline-block
}
.intro .tech-list a {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    margin: 5px 20px;
    display: block;
}
.intro .tech-list a:hover {
    opacity: 1
}


.tech-list a.python {
    background-image: url(/static/img/python-intro-logo.png);
    background-size: 225px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
}


.tech-list a.flask {
    background-image: url(/static/img/flask-intro-logo.png);
    background-size: auto 225px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
}

.tech-list a.bootstrap {
    background-image: url(/static/img/bootstrap-intro-logo.png);
    background-size: 225px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
}

.tech-list a.heroku {
    background-image: url(/static/img/heroku-intro-logo.png);
    background-size: auto 225px;
    background-repeat: no-repeat;
    width: 230px;
    height: 230px;
}


/* Heroku Languages*/


.languages {
    margin: 1.5em 0 0;
    padding: 1em;
}

.languages .lang-list {
    padding: 0;
    margin: 0
}
.languages .lang-list li {
    display: inline-block
}
.languages .lang-list a {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    margin: 5px 20px;
    display: block;
}
.languages .lang-list a:hover {
    opacity: 1
}


.lang-list a.node {
    background-image: url(/static/img/node-logo.png);
    width: 37px;
    height: 40px;
}


.lang-list a.ruby {
    background-image: url(/static/img/ruby-logo.png);
    width: 41px;
    height: 40px;
}


.lang-list a.java {
    background-image: url(/static/img/java-logo.png);
    width: 43px;
    height: 40px;
}

.lang-list a.php {
    background-image: url(/static/img/php-logo.png);
    width: 55px;
    height: 40px;
}

.lang-list a.python {
    background-image: url(/static/img/python-logo.png);
    width: 41px;
    height: 40px;
}


.lang-list a.go {
    background-image: url(/static/img/go-logo.png);
    width: 41px;
    height: 40px;
}

.lang-list a.scala {
    background-image: url(/static/img/scala-logo.png);
    width: 41px;
    height: 43px;
}

.lang-list a.clojure {
    background-image: url(/static/img/clojure-logo.png);
    width: 41px;
    height: 40px;
}


pre {
    text-align: left;
    background: #eee;
}

pre.python {
    color: #11a611;
    background: rgb(68, 68, 68);
}

span.comment {
    color: rgb(102, 102, 102);
}

span.output{
    color: rgb(221, 221, 221);
}

.language-html {
    font-size: 12px;
    background: rgb(68, 68, 68);
    color: #fff;
}

.nt {
    color: #2f6f9f;
}

.na {
    color: #4f9fcf;
}

.s {
    color: #d44950;
}

/*.bs-example {
    margin-right: 0;
    margin-left: 0;
    
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}*/

.bs-example {
    position: relative;
    padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    background-color: #fff;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

.bs-example label {
    float: left;
}

.bs-example textarea {
    width: 100%;
}