{% extends "01_base.html" %}
{% block content %}

    <!-- Intro Section -->
    {% include '04_intro.html' %}

    <!-- A to Z Section -->
    {% include '05_A2Z.html' %}

    <!-- Categories Section -->
    {% include '06_cats.html' %}

    <!-- Disease Section -->
    {% include '07_disease.html' %}

    <!-- Journal Section -->
    {% include '08_journal.html' %}

    <!-- Heroku Section -->
    {% include '09_ops.html' %}

    <!-- Heroku Section -->
    {% include '10_maps.html' %}

{% endblock %}