<!-- Navigation -->
<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SurgicalNames.com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href="#A2Z">A to Z</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#cats">Categories</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#disease">Disease or Symptoms</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#journal">Journals</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#ops">Operations</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#maps">World Maps</a>
            </li>
        </ul>
    </div>
</nav>