    <!-- Page Title -->
    <title>Surgical Names</title>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="text-white text-uppercase fs-5 fs-lg-7" data-aos="fade-down" data-aos-duration="1000">Surgical Names</h1>
                    <p class="mb-5 fs-lg-1 text-white" data-aos="fade-down" data-aos-delay="50" data-aos-duration="1000">an online educational resource</p>
                 
                    <section class="intro border-top">
                      <ul class="tech-list text-center">
                        <li>
                            <!-- <img src="/static/img/backgrounds/bg-15.jpg" alt="Python" class="img-rounded"> -->
                            <a class="python" title="Python" href="https://www.surgicalnames.com/">name</a>
                        </li>
                      </ul>
                    </section>

                    <a class="btn btn-default page-scroll" href="#A2Z">Click to Scroll Down</a>

                </div>
            </div>
        </div>
    </section>