    <!-- Page Title -->
    <title>Surgical Names</title>

    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="bg-container overlay overlay-60 parallax" data-rellax-percentage="0.5" style="https://github.com/HayesAJ83/surgnames01/blob/main/static/img/backgrounds/bg-15.jpg"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h1 class="text-white text-uppercase fs-5 fs-lg-7" data-aos="fade-down" data-aos-duration="2000">Surgical Names</h1>
                        <p class="mb-5 fs-lg-1 text-white" data-aos="fade-down" data-aos-delay="50" data-aos-duration="2000">an online educational resource</p>
                    </div>
                  
                </div>
            </div>
        </div>
    </section>