    <!-- Page Title -->
    <title>Surgical Names</title>

    <!-- Theme Stylesheets -->
    <link href="/static/assets/css/theme.css" rel="stylesheet">

    <!-- Intro Section -->
    <section class="py-0 overflow-hidden text-center">
        <div class="bg-container overlay overlay-60 parallax" data-rellax-percentage="0.5" style="background-image: url(/static/img/backgrounds/bg-15.jpg)"></div>
        <div class="container">
            <div class="row h-100vh justify-content-center align-items-center">
                <div class="col-lg-8">
                    <h1 class="text-white text-uppercase fs-5 fs-lg-7" data-aos="fade-down" data-aos-duration="1000">Surgical Names</h1>
                    <p class="mb-5 fs-lg-1 text-white" data-aos="fade-down" data-aos-delay="50" data-aos-duration="1000">a multi-indexed database of surgical eponyms</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End of Section -->



    <!--  <section id="intro" class="intro-section">
        <section id="intro" class="py-0 overflow-hidden text-center"></section>
        <div class="container">
            <div style="background-image: url('/static/img/backgrounds/bg-15.jpg'); background-size: cover; height:480px; padding-top:80px;"></div>
            <div class="row">
                <div class="col-lg-8">
                    <h1 class="text-white text-uppercase fs-5 fs-lg-7" data-aos="fade-down" data-aos-duration="2000">Surgical Names</h1>
                    <p class="mb-5 fs-lg-1 text-white" data-aos="fade-down" data-aos-delay="50" data-aos-duration="2000">an online educational resource</p>
                </div>
            </div>
        </div>
    </section>