    <!-- Categories Section -->
    <section id="cats" class="services-section">

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p style="margin-top: 10px;" class="lead">explore by</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1>Categories of Eponyms</h1>
        
                <div class="row">
                    <div class="col-lg-6">
                        <p style="margin-top: 50px;" class="lead">..text..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

