    <!-- Disease Section -->
    <section id="disease" class="about-section">

        <div class="container" data-aos="zoom-out" data-aos-duration="500">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="mb-5 fs-lg-1 text-white">Disease or Symptom</h1>
                    <br></br>
                </div>
            </div>
            
            <select class="form-select" multiple aria-label="multiple select">
                <option selected>Choose specialties:</option>
                <option value="1">Anaesthetics</option>
                <option value="2">Bariatrics</option>
                <option value="3">Cardiothoracics</option>
                <option value="4">More1</option>
                <option value="5">More2</option>
                <option value="6">More3</option>
                <option value="7">More4</option>
            </select>

            <!--  <div class="row">  -->
            <!--      <div class="col-lg-6">  -->
            <!--          <p style="margin-top: 40px;" class="lead">Choose from:</p>  -->
            <!--          <p>{{my_table}}</p>  -->

                <!--     <b></b>  -->
                <!--     <p style="margin-top: 40px;" class="lead">Define a time window</p> -->
                <!--     <b></b>  -->
                <!--     <p style="margin-top: 40px;" class="lead">Search</p>  -->
        
        </div>
    </section>

