<!-- Journal Section -->
<section id="journal" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mb-5 fs-lg-1 text-white" data-aos="zoom-in" data-aos-duration="1500">Eponyms by Journal</h1>
                <br></br>
                <p style="margin-top: 10px;" class="lead">..text..</p>
            </div>
        </div>
        <select class="form-select" multiple aria-label="multiple select example">
            <option selected>Choose specialties:</option>
            <option value="1">Anaesthetics</option>
            <option value="2">Bariatrics</option>
            <option value="3">Cardiothoracics</option>
            <option value="4">More1</option>
            <option value="5">More2</option>
            <option value="6">More3</option>
            <option value="7">More4</option>
        </select>
            
        </div>
    </div>
</section>

