<!-- Journal Section -->
<section id="journal" class="services-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mb-5 fs-lg-1 text-white" data-aos="zoom-in" data-aos-duration="2000">Eponyms by Journal</h1>
                <br></br>
                <p style="margin-top: 10px;" class="lead">..text..</p>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <br></br>
                <a class="btn btn-default page-scroll" href="#ops">SCROLL DOWN</a>
            </div>
        </div>
    </div>
</section>

