<!-- Heroku Section -->
<section id="heroku" class="heroku-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1>Footer</h1>

          <div class="row">
            <div class="col-lg-6">
                <p style="margin-top: 40px;" class="lead">
                Text.
                </p>
            </div>
            <div class="col-lg-6">
              <img style="max-height: 300px;" class="img-rounded" src="/static/img/heroku-development.png">
            </div>
          </div>

          <div class="row">
            <h3>Footer</h3>
            <section class="languages border-top">
              <ul class="lang-list text-center">
                <li><a class="node" title="Node.js" href="https://www.heroku.com/nodejs">Node.js</a></li>
                <li><a class="clojure" title="Clojure" href="https://www.heroku.com/clojure">Clojure</a></li>
              </ul>
            </section>
          </div>
      </div>
    </div>
  </div>
</section>