<!-- Maps Section -->
<section id="maps" class="heroku-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1>Maps</h1>

          <div class="row">
            <div class="col-lg-6">
                <p style="margin-top: 40px;" class="lead">
                Maps
                </p>
            </div>
            <div class="col-lg-6">
              <img style="max-height: 300px;" class="img-rounded" src="/static/img/heroku-development.png">
            </div>
          </div>
      </div>
    </div>
  </div>
</section>