<!-- Footer Section -->
<section id="foot" class="heroku-section">
  <div class="container">

    <div class="row">
      <h3>Footer</h3>
        <section class="languages border-top">
          <ul class="lang-list text-center">
            <li><a class="node" title="Node.js" href="https://www.heroku.com/nodejs">Node.js</a></li>
            <li><a class="clojure" title="Clojure" href="https://www.heroku.com/clojure">Clojure</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
</section>