    <!-- Flask Section -->
    <section id="flask" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                    <div class="col-lg-6">
                        <h1>What Eponymn</h1>
                        <p class="lead">Flask text text.......</p>
                    </div>
                    <div class="col-lg-6">
                        <h1>Flask About</h1>
                        <pre>
from flask
app = Flask(__name__)
                        </pre>
                        <h1>And easy to run</h1>
                        <pre>
$ pip install
                        </pre>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

