    <!-- Flask Section -->
    <section id="flask" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                    <div class="col-lg-6">
                        <h1>What is Flask?</h1>
                        <p class="lead">Flask is a microframework for Python based on Werkzeug, Jinja 2 and good intentions. And before you ask: It's BSD licensed!</p>
                    </div>
                    <div class="col-lg-6">
                        <h1>Flask is fun</h1>
                        <pre>
from flask import Flask
app = Flask(__name__)

@app.route("/")
def hello():
    return "Hello World!"

if __name__ == "__main__":
    app.run()
                        </pre>
                        <h1>And easy to run</h1>
                        <pre>
$ pip install Flask
$ python hello.py
 * Running on http://localhost:5000/
                        </pre>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

