<!-- Heroku Section -->
<section id="heroku" class="heroku-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1>What is Heroku about?</h1>

          <div class="row">
            <div class="col-lg-6">
                <p style="margin-top: 40px;" class="lead">
                Heroku is a cloud platform that lets companies build, deliver, monitor and scale apps — we're the fastest way to go from idea to URL, bypassing all those infrastructure headaches.
                </p>
            </div>
            <div class="col-lg-6">
              <img style="max-height: 300px;" class="img-rounded" src="/static/img/heroku-development.png">
            </div>
          </div>

          <div class="row">
            <h3>Supported languages</h3>
            <section class="languages border-top">
              <ul class="lang-list text-center">
                <li><a class="node" title="Node.js" href="https://www.heroku.com/nodejs">Node.js</a></li>
                <li><a class="ruby" title="Ruby" href="https://www.heroku.com/ruby">Ruby</a></li>
                <li><a class="java" title="Java" href="https://www.heroku.com/java">Java</a></li>
                <li><a class="php" title="PHP" href="https://www.heroku.com/php">PHP</a></li>
                <li><a class="python" title="Python" href="https://www.heroku.com/python">Python</a></li>
                <li><a class="go" title="Go" href="https://www.heroku.com/go">Go</a></li>
                <li><a class="scala" title="Scala" href="https://www.heroku.com/scala">Scala</a></li>
                <li><a class="clojure" title="Clojure" href="https://www.heroku.com/clojure">Clojure</a></li>
              </ul>
            </section>
            
          </div>
      </div>
    </div>
  </div>
</section>