    <!-- Intro Section -->
    <section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Create web applications with Python, Flask, Bootstrap and Heroku</h1>

                    <section class="intro border-top">
                      <ul class="tech-list text-center">
                        <li>
                            <!-- <img src="/static/img/python-intro-logo.png" alt="Python" class="img-rounded"> -->
                            <a class="python" title="Python" href="https://www.python.org/">Python</a>
                        </li>
                        <li>
                            <a class="flask" title="Flask" href="http://flask.pocoo.org/">Flask</a>
                        </li>
                        <li>
                            <a class="bootstrap" title="Boostrap" href="https://getbootstrap.com/">Bootstrap</a>
                        </li>
                        <li>
                            <a class="heroku" title="Heroku" href="https://www.heroku.com/">Heroku</a>
                        </li>
                      </ul>
                    </section>

                    <a class="btn btn-default page-scroll" href="#python">Click Me to Scroll Down!</a>

                </div>
            </div>
        </div>
    </section>